@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: kanit;
  text-decoration: none;
}
body {
  background-color: black;
  color: white;
  font-family: 'Kanit', sans-serif;
  color: aliceblue;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  text-transform: uppercase;
}
.logo {
  color: aliceblue;
  font-size: 1.5rem;
  font-weight: 700;
}
.navigation a {
  color: #fff;
  margin: 0 20px;
}

.hero_content {
  padding: 100px;
}
.hero_content h1 {
  font-size: 5rem;
  margin-bottom: 1.8rem;
}
.hero_content h2 {
  max-width: 600px;
  font-size: 1.2rem;
}
.hero_content .btn {
  display: inline-block;
  border-radius: 1.2rem;
  background-color: #fff;
  border: none;
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 30px;
}

#peru {
  padding: 8rem 0rem;
  width: 100%;
  border-radius: 120px;
}

.second_hero {
  display: flex;
  justify-content: center;
  padding-bottom: 8rem;
  flex-direction: column;
  align-items: center;
}
.second_hero h1 {
  max-width: 550px;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 8rem;
}
.one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.one img {
  padding: 8rem 0rem;
  width: 100%;
  padding: 5rem;
  border-radius: 10rem;
}

.write {
  padding: 2rem;
  max-width: 400px;
}

.btn, .btn1 {
  padding: .9rem 3rem;
  font-size: 1rem;
  border-radius: 20px;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  transition: .2s ease-in-out all;

}
.btn:hover, .btn1:hover {
  cursor: pointer;
  background: white;
  color: black;
  scale: 1.09;
}
/* 
.write .btn1 {
  border-radius: 1.2rem;
  background-color: #fff;
  border: none;
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 30px;
} */

main {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}


/* The Expore Section */
.explore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0rem;
}

.explore h1 {
  max-width: 560px;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.explore button {
  padding: .5rem 2rem;
  font-size: 1rem;
  border-radius: 20px;
  border: 1px solid white;
  background: white;
  transition: .2s ease-in-out all;
  cursor: pointer;
}

.explore button:hover {
  background: black;
  color: white;
  scale: 1.09;
}

/* Examples Section */
.examples {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.examples div {
  padding: 1rem;
}

.examples .left {
  flex: .5;
}

.examples .left img,
.examples .right img {
  width: 100%;
  max-height: 400px;
  min-height: 400px;
  min-width: 500px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.examples .left h3,
.examples .right h3 {
  margin-bottom: .8rem;
}

.examples .right {
  flex: .5;
}

/* Compaines Section */
.compaines {
  padding: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.compaines_content {
  display: flex;
}

.compaines_content h1 {
  font-size: 1.9rem;
  margin: 0rem 3rem;
}

.partner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0rem;
}

.partner h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.partner button {
  padding: .5rem 2rem;
  font-size: 1rem;
  border-radius: 20px;
  border: 1px solid white;
  background: white;
  transition: .2s ease-in-out all;
  cursor: pointer;
}

.partner button:hover {
  border: 1px solid white;
  background: black;
  color: white;
  scale: 1.09;
}


/* Footer section */
footer {
  padding-right: 4rem;
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

footer .links {
  display: flex;
  text-transform: uppercase;
}

footer .links ul {
  list-style: none;
  margin: 0rem 2.5rem;
}

footer .links ul li {
  font-size: 1rem;
  font-weight: lighter;
  margin: .4rem 0rem;
  cursor: pointer;
  transition: .1s ease-in-out all;
}

footer .links ul li:hover {
  color: rgba(239, 239, 239, 0.782);
}

footer .newsletter_socialMedia {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .newsletter_socialMedia ul {
  list-style: none;
  display: flex;
}

footer .newsletter_socialMedia ul li {
  margin: 0rem 1rem;

}

footer .newsletter_socialMedia button {
  padding: .9rem 3rem;
  font-size: 1rem;
  border-radius: 20px;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  transition: .2s ease-in-out all;
}
footer .newsletter_socialMedia button:hover {
  cursor: pointer;
  background: white;
  color: black;
  scale: 1.09;
}